# bootstrap with brew install git

[user]
	name = David Giesberg
	email = git@davidgiesberg.net
[alias]
	co = checkout
	wdiff = diff --color-words
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[apply]
	whitespace = nowarn
[push]
	default = simple
[init]
	templatedir = ~/.git-templates
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
